* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    background: #F8F5E1;
}

.logo {
    margin-top: 20px;
    margin bottom 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.SPU {
    margin-left: 0px;
}

body {
	font-family: Courier;
	font-size: 18px;
}

h1 {
	color: Red;
	font-size: 40px;
	font-family: Courier;
    margin-bottom: 20px;
    background: white;
}

h2, h3, p {
	color: Black;
	font-family: Courier;
    background: white;
}

h4 {
    color: Black;
	font-family: Courier;
	font-size: 20px;
    margin-bottom: 10px;
    background: #F8F5E1
}

h3 {
	font-size: 15px;
}

p {
	font-size: 15px;
	text-align: justify;
    margin-bottom: 20px;
}

.main-text{
    text-align: justify
}

.author-text{
    font-size: 22px;
    background: #F8F5E1;
    margin-top: 20px;
    margin-bottom: 20px:
}

.blogpost {
    background: white;
    width: 75%;
    float: left;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
    position: relative
}

.other-posts {
    background: rgba(244, 235, 27, 0.57);
    width: 20%;
    float: right;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

strong {
    background: white;
}

.strong-footer {
    background:  #F8F5E1;
}

footer {
    float:left;
}

.author-box {
    float:none;
    bo
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto ;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
}