* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    background: #F8F5E1;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.SPU {
    margin-left: 0px;
}

body {
	font-family: Courier;
	font-size: 18px;
}

h1 {
	color: Red;
	font-size: 40px;
	font-family: Courier;
    margin-bottom: 20px;
    background: white;
}

h2, h3, p {
	color: Black;
	font-family: Courier;
    background: white;
}

h4 {
    color: Black;
	font-family: Courier;
	font-size: 20px;
    margin-bottom: 10px;
    background: #F8F5E1
}

h3 {
	font-size: 15px;
}

p {
	font-size: 15px;
	text-align: justify;
    margin-bottom: 20px;
}

.main-text{
    text-align: justify
}

.author-text{
    font-size: 22px;
    background: #F8F5E1;
}

.blogpost {
    background: white;
}

.other-posts {
    background: rgba(244, 235, 27, 0.57);
}

strong{
    background: white;
}

.strong-footer {
    background:  #F8F5E1;   
}